<div class="animate__animated animate__fadeIn">
    <h2> Buscar por región <small> {{ regionActiva | titlecase }} </small></h2>
    <hr>
    
    <div class="row">
        <div class="col">
    
            <!-- [ngClass]="{
                'btn-primary': regionActiva === region,
                'btn-outline-primary': regionActiva !== region
            }" -->
    
            <!-- [class.btn-primary]="region === regionActiva" -->
    
            <!-- [class]="(region === regionActiva) ? 'btn btn-primary' : 'btn btn-outline-primary'" -->
    
            <button *ngFor="let region of regionesVista" [class]="getClaseCSSRegionActiva( region )" (click)="activarRegion( region )"> {{ region | titlecase }} </button>
    
            <hr>
            <div class="row"  *ngIf="paises.length > 0">
                <div class="col">
                    <app-pais-tabla [paises]="paises" class="animate__animated animate__fadeIn"></app-pais-tabla>
                </div>
            </div>
        </div>
    </div>
</div>


